body{
  margin:0 auto;
  width:80%;
  background-color: burlywood;
  color: darkolivegreen;
}
h1{
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  margin-top: 5%;
  font-size: 450%;
}
h2{
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif
}
nav{
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif
}
img {
    border: 4px solid darkolivegreen;
    width: 65%;
    margin-left: 18%;
}
li{
  list-style-type: none;
  display: inline;
  text-align: center;
}
.spacing{
  margin-right: 10%;
  margin-top: 10  %;
}
article{
  font-family: Tahoma, Geneva, sans-serif;
  margin-top: 20%;
}
